.b-students
{
  position: absolute; top: 0; left: 0;
}

.b-students_1
{
    left: 50%;
    top: 200px;
    z-index: 5;


    width: 485px;
    height: 594px;
    margin-left: -500px;

}

.b-students_1 .b-students__image
{
    width: 485px;
    height: 594px;

    background: url(b-students_1.png) no-repeat;
}

.b-students_2
{
    left: 50%;
    top: 280px;
    z-index: 5;


    width: 103px;
    height: 185px;
    margin-left: 250px;

}

.b-students_2 .b-students__image
{
    width: 103px;
    height: 185px;

    background: url(b-students_2.png) no-repeat;
}

.b-students_girl {
  z-index: 5;
  margin: 0 0 0 0;
  display: none;
}
.b-students_girl .b-students__image { width: 178px; height: 461px; background: url(girl.png) no-repeat; }

.b-students_guy {}
.b-students_guy .b-students__image { width: 173px; height: 464px; background: url(guy.png) no-repeat; }

.b-students_khr {}
.b-students_khr .b-students__image { width: 246px; height: 502px; background: url(khr.png) no-repeat; }

.b-students__image_4
{
    position: absolute;
    z-index: 4;

    left: 50%;
    top: 284px;

    width: 63px;
    height: 196px;

    margin-left: -500px;

    background: url(b-students_1_4.png) no-repeat;
}

.b-students__image_3
{
    position: absolute;
    z-index: 4;

    left: 50%;
    top: 227px;

    width: 107px;
    height: 283px;

    margin-left: -300px;

    background: url(b-students_1_3.png) no-repeat;
}



.b-students__image_2
{
    position: absolute;
    z-index: 4;

    left: 50%;
    top: 192px;

    width: 349px;
    height: 452px;

    margin-left: -450px;

    background: url(b-students_1_2.png) no-repeat;
}

.b-students__image_1
{
    position: absolute;
    z-index: 4;

    left: 50%;
    top: 190px;

    width: 177px;
    height: 599px;

    margin-left: -350px;

    background: url(b-students_1_1.png) no-repeat;
}

